/* 네브 상단 */
.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

/* 네브 중간 */
.logo-box {
    display: flex;
    justify-content: center;
}

.logo-box img {
    width: 100px;
    aspect-ratio: 1024/674;
    object-fit: cover;
}

/* 네브 하단 */
.menu-area {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.menu-list li {
    padding: 10px;
}

.input-box {
    align-self: center;
    /* margin-left: auto; */

    border-bottom: 1px solid black;
}

.input-box input {
    border: none;
}
